.example-spacer {
  flex: 1 1 auto;
}
.body{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 10px;
}
.logo{
  width: 50px;
  height: auto;
}

.black{
  background-color: black;
  padding: 10px;
}
mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
